<template>
  <b-modal id="bv-modal-example2" hide-footer>
    <template #modal-title>Edit Todo</template>
    <!-- Task name  -->
    <b-form-group
      label="Task Name"
      label-for="name-input"
      invalid-feedback="Name is required"
    >
      <b-form-input
        id="name-input"
        v-model="todoobject.name"
        required
      ></b-form-input>
    </b-form-group>
    <!-- Task description-->
    <b-form-group
      label="description"
      label-for="name-input"
      invalid-feedback="Name is required"
    >
      <b-form-textarea
        id="name-input"
        v-model="todoobject.description"
        required
      ></b-form-textarea>
    </b-form-group>
    <!-- Task priority-->
    <b-form-group label="Priority" label-for="input-3">
      <b-form-select
        id="input-3"
        v-model="todoobject.Priority"
        :options="Priority"
        required
      ></b-form-select>
    </b-form-group>
    <b-button class="btn btn-info mt-3" block @click="editTask()"
      >Save</b-button
    >
  </b-modal>
</template>

<script>
export default {
  name: "edit_todolist",
  props: {
    todoobject: {
      type: Object,
      require: true,
    },
  },
  data() {
    return {
      Priority: ["Very Low", "Low", "Medium", "High", "Very High"],
      nameState: "",
    };
  },
};
</script>

<style scoped></style>
